/* ------------------------------------------------------------ *\
  Balance
\* ------------------------------------------------------------ */

@import '../../css/generic/variables.scss';

.Balance {
  position: relative;
  padding: 10px;

  .Balance__value {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .Balance__circle {
    width: 100%;
    padding-bottom: 100%;
    border: solid 3px transparent;
    border-radius: 50%;
  }

  &.negative {
    color: $c-red;

    .Balance__circle {
      border-color: $c-red;
      background-color: rgba($c-red, 0.25);
    }
  }

  &.positive {
    color: $c-lightgreen;

    .Balance__circle {
      border-color: $c-lightgreen;
      background-color: rgba($c-lightgreen, 0.25);
    }
  }
}
