/* ------------------------------------------------------------ *\
  Operations
\* ------------------------------------------------------------ */

@import '../../css/generic/variables.scss';

.Operations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

  a {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    flex: 1 0 calc(50% - 5px);
    padding: 10px;
    border: solid 3px currentColor;
    border-radius: 10px;

    &:first-child {
      color: $c-lightgreen;
    }

    &:nth-child(2) {
      color: $c-red;
    }

    &:nth-child(3) {
      color: rgba($c-white, 0.7);
    }
  }
}
