/* ------------------------------------------------------------ *\
  form
\* ------------------------------------------------------------ */

// @import '../generic/variables.scss';

.form {
  h6 {
    text-align: left;
  }

  label {
    display: block;
  }

  .form__head {
    margin-bottom: 15px;
    border-bottom: solid 1px $c-dark;
  }

  .form__row {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .form__controls {
    width: 100%;
  }

  .form__label {
    color: $c-dark;
    padding-left: 5px;
  }

  .form__field {
    width: 100%;
    display: block;
    padding: 5px 10px 5px 0;
    color: $c-dark;
    border: 0;
    border-bottom: solid 2px $c-dark;
    border-radius: 0;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgba(34, 38, 41, 0.1);

    &::placeholder {
      color: $c-lightgray;
    }
  }

  .form__field-alt {
    background: transparent;
    padding: 10px 0 2px;
    border: none;
    border-bottom: solid 1px $c-dark;
    font-size: 16px;
    color: $c-dark;
  }

  .form__foot {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
}
