/* ------------------------------------------------------------ *\
  accounts-item
\* ------------------------------------------------------------ */

@import '../../scss/generic/variables.scss';

.accounts-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .accounts-item__content {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-left: 5px;
  }

  .accounts-item__actions {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .accounts-item__edit {
    width: 28px;
    height: 28px;
  }

  .accounts-item__delete {
    width: 28px;
    height: 28px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.accounts-item:nth-child(even) {
  background-color: rgba($c-white, 0.2);
}
