/* ------------------------------------------------------------ *\
  History
\* ------------------------------------------------------------ */

.history {
  flex: 1;
}

.history__date {
  padding: 8px 16px;
}

.history__date span + span::before {
  content: ', ';
}
