/* ------------------------------------------------------------ *\
  History
\* ------------------------------------------------------------ */

@import '../../scss/generic/variables.scss';

.history {
  flex: 1;
}

.history__date {
  padding: 8px 16px;
}

.history__date span + span::before {
  content: ', ';
}

.history__date strong::before {
  content: ' (';
}

.history__date strong::after {
  content: ')';
}

.history__date strong.positive {
  color: $c-lightgreen;

  &::before {
    content: ' (+';
  }
}

.history__date strong.negative {
  color: $c-red;
}
